.tarjetaDetalleAutor{
    height: 80vh;
}
.tarjetaDetalleAutor h3::selection{
    color: green;
}
.tarjetaDetalleAutor p::selection{
    color: green;
}
.tarjetaDetalleAutor a::selection{
    color: green;
}