.header{
    background-color: #e7e2dc !important;
    border-bottom: black 1px solid;
    height: 10vh;
}

.nav-dropdown-item:hover,
.nav-dropdown-item:focus,
.nav-dropdown-item:active {
    background-color: transparent !important;
    color: inherit !important;
}